<h1>All Genres</h1>
<h3>Is your game or genre missing? Add it <%= link_to "here!", new_game_path %></h3>
<ol>
    <% @genres.each do |genre| %>
    <li><%= genre.genre_name %></li>
    <% end %>
</ol>