<h1>Index for games</h1>
<h3>Is your game missing?<%= link_to "Add a Game", new_game_path %></h3>
<% @games.each do |ga| %>
    <h2><%= ga.game_name %> - <%= ga.genre.genre_name %></h2>
    <%= link_to "Write a Review", new_game_review_path(ga.id) %>
<% end %>